<td class="content">
    
    <div class="pageTitle">
        Kamasutra
    </div>

    <div class="generation">
        <strong> #315 - Posizione Del Bastone Odoroso </strong>
        <br>
        <em> ( Versione alternativa della Tenaglia Sognante ) </em>
        <br>
        <br>
        Facendo leva sul dito, il maschio tiene sollevata la propria compagna per il clitoride e, mentre lei gli 
        sussurra <em>"...si'!!! dimmi che sono una mucca pazza..."</em>, lui le gratta con dolcezza il gomito destro. 
        Una volta completati i preliminari finalmente lui la stimola sessualmente.
    </div>

</td>