<td class="content">
    
    <div class="pageTitle">
        Kamasutra
    </div>

    <div class="generation">
        <strong> #5  -  Posizione Del Ruscello Oleoso </strong>
        <br>
        <em> ( E' una versione alternativa del Pelliciaio Oleoso ) </em>
        <br>
        <br>
        Inarcando le sopracciglia, la partner stringe forte tra le gambe i fianchi del proprio uomo, mentre lui guida a 
        tutta velocita'. Una volta completati i noiosi preliminari finalmente i due partner scopano insieme serenamente.
    </div>

</td>